@import 'fonts';
@import 'def';
@import 'burger_link';
@import 'mixin';
@import 'tech';

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._ibg {
	position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

._container{
	max-width: 1280px;
	margin: 0px auto;
	padding: 0px 30px;
	box-sizing: content-box;
}


//-------------------------------------------------------------------------------


//@include adaptiv-font();


//------media--------------------------------------------------------------

@media screen and (max-width: 1000px) {
    #nav-icon1 {
        width: 40px;
        height: 45px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        margin-top: 12px;
        cursor: pointer;
        z-index: 2;
    }
    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #02C7FC;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 13px;
    }
    #nav-icon1 span:nth-child(3) {
        top: 27px;
    }
    #nav-icon1.open span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }
    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    #nav-icon1.open span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }
}

//-------------------------------------------------------------------------------

body.lock{
    overflow: hidden;
}


body{
    @include adaptiv-font(14, 12);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background: rgb(40, 39, 39);

    .title{
        color: #ffffff;
        @include adaptiv-font(48, 30);
        text-align: center;
        font-weight: 800;
        margin-top: 70px;
    }
    .sub_title{
        color: #ffffff;
        @include adaptiv-font(24, 22);
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
    }
    .button{
        color: #ffffff;
        @include adaptiv-font(20, 12);
        font-weight: 500;
        background: #3C93F0;
        padding: 16px 22px;
        border-radius: 15px;
        text-align: center;
    }

    //-------header--------------------------

    .header{

        .header_nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include adaptiv-font(18, 16);
            margin: 17px 0px;
            color: #ffffff;
            .header_logo{
                @include adaptiv-font(28, 26);
                font-weight: 700;
                z-index: 2;
            }
            .header_nav_menu{
    
                .header_list{
                    display: flex;
                    .header_item:not(:last-child){
                        margin-right: 25px;
                    }
                    @media screen and (max-width: 1100px) {
                        .header_item:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                    .header_item{
                        .header_item_link{
                            @include adaptiv-font(16, 14);
                            color: #ffffff;
                            font-weight: 500;
                            transition: all 0.3s ease 0s;
                        }
                        .header_item_link:hover{
                            color: #02C7FC;
                        }
                        
                    }
                }
            }
            @media screen and (max-width: 1000px) {
    
    
                .header_nav_menu{
                    .header_list{
                        display: block;
                        position: fixed;
                        top: 0px;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease 0s;
                        background: rgb(40, 39, 39);
                        padding-top: 80px;
    
                        .header_item{
                            margin-top: 15px;
    
                            .header_item_link{
                                display: block;
                                @include adaptiv-font(24, 20);
                                font-weight: 600;
                                border-bottom: 1px solid #3E3E3E;
                                padding-left: 15px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .header_list.active{
                        left: 0;
                    }
                }
            }
            .header_tel{
                color: #ffffff;
                font-weight: 600;
                z-index: 2;
                span{
                    color: #02C7FC;
                }
            }
    
            @media screen and (max-width: 576px) {
                .header_tel{
                    display: none;
                }
            }
        }
    }

    //-----main-page--------------------------

    .main_page{
        //height: 85vh;
        background: #02C7FC url('../img/main-page_man1.png') 100% 0/50% auto no-repeat;
        .main__container{
            margin: 14% 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main{
                margin-left: 40px;
                .main_sub_title{
                    margin-bottom: 30px;
                }
                .main_title{
                    margin-bottom: 30px;
                }
                .icon{
                    margin-right: 10px;
                    width: 6%;
                }
                .main_text{
                    @include adaptiv-font(24, 14);
                    font-weight: 400;
                    margin-bottom: 45px;
                    display: inline-block;
                }
            }
            @media screen and (max-width: 768px) {
                .main{
                    margin-left: 0px;
                }
            }

            .main_bg{
                display: none;
            }

            @media screen and (max-width:1250px ) {
                .main{
                    .icon{
                        margin-right: 4px;
                        margin-top: 3px;
                        width: 5%;
                    }
                }
            }
        }
        .main_mobile_but{
            display: none;
        }

        
    
        @media screen and (max-width: 768px ) {
            .main__container{
                margin: 25px auto;
                display: block;
                .main{
                    .main_text{
                        display: none;
                    }
                    .icon{
                        display: none;
                    }
                    .main_sub_title{
                        text-align: center;
                    }
                    .main_title{
                        text-align: center;
                    }
                    .main_button{
                        display: none;
                    }
                }
                .main_bg{
                    margin-left: 15px;
                    width: 100%;
                }
                .main_mobile_but{
                    display: flex; 
                    justify-content: center;

                    .but{
                        padding: 15px 26px;
                        display: flex;
                        align-items: center;
                        .but_text{
                            @include adaptiv-font(26, 14);
                            font-weight: 600;
                            color: #ffffff;
                        }
                    }
                    .but_call{
                        border-radius: 15px 0px 0px 15px; 
                        background: #3C93F0;
                        img{
                            width: 25px;
                            margin-right: 10px;
                        }
                    }
                    .but_whats{
                        border-radius: 0px 15px 15px 0px; 
                        background: #09D743;
                        img{
                            width: 25px;
                            margin-right: 10px;
                        }
                    }
                    
                }
            }

        }
        @media screen and (max-width: 390px ){
            .main__container{
                .main_mobile_but{
                    .but_call{
                        padding-left: 10px;
                        img{
                            width: 15px;
                            margin-right: 10px;
                        }
                    }
                    .but_whats{
                        padding-left: 10px;
                        img{
                            width: 15px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1250px) {
        .main_page{
            background: #02C7FC url('../img/main-page_man1.png') 100% 0/40% auto no-repeat;
            .main__container{
                margin: 70px 0px;
            }
        }
    }
    @media screen and (max-width: 960px) {
        .main_page{
            background: #02C7FC url('../img/main-page_man1.png') 100% 0/45% auto no-repeat;
            .main__container{
                margin-top: 180px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .main_page{
            background-image: none;
            background-color: #02C7FC;
            .main__container{
                margin-top: 50px;
                .main_bg{
                    display: block;
                }
            }
        }
    }



    //------guarantees--------------------------

    .guarantees{
        background: rgb(55, 53, 53);
        .guarantees__container{
            .guarantees_cards{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 70px;
                .card_item{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 23%;
                    background: rgb(237, 243, 246);
                    color: #3E3E3E;
                    padding: 0px 20px 20px;
                    border-radius: 10px;
                    .item_img{
                        max-width: 100px;
                        margin: 0 auto;
                    
                    }
                    .item_title{
                        @include adaptiv-font(20, 18);
                        font-weight: 600;
                        text-align: center;

                    }
                    .item_text{
                        margin-top: 10px;
                        @include adaptiv-font(18, 16);
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
            @media screen and (max-width: 1050px) {
                .guarantees_cards{
                    flex-direction: column;
                    .card_item{
                        margin: 0 auto;
                        margin-top: 20px;
                        width: 60%;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .guarantees_cards{
                    .card_item{
                        margin-top: 30px;
                        width: 100%;
                    }
                }
            }
        }
    }
    

    //------help---------------------------------

    .help{
        background: rgb(40, 39, 39);
        .help_container{
            .help_card{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                color: #3E3E3E;
                margin-bottom: 70px;
               .card_item{
                background: #ffffff;
                margin-top: 30px;
                width: 30%;
                margin-bottom: 40px;
                    .card_title{
                        @include adaptiv-font(20, 20);
                        font-weight: 700;
                        text-align: center;
                        margin-top: 30px;
                    }
                    .card_flex{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        .card_about{
                            margin-left: 30px;
                            ul{
                                li{
                                    @include adaptiv-font(16, 14);
                                    font-weight: 400;
                                    background: url(../img/marker.svg) no-repeat 0 4px;
                                    padding-left: 15px; 
                                    margin-bottom: 7px;
                                }
                            }
                            .more{
                                @include adaptiv-font(14, 12);
                                font-weight: 600;
                                color: #3C93F0;
                                margin-top: 40px;
                                margin-bottom: 40px;
                            }
                        }
                    }
               }
               
            }
            @media screen and (max-width: 1324px){
                .help_card{
                    .card_item{
                        .card_flex{
                            .card_about{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 1252px) {
                .help_card{
                    justify-content: center;
                    flex-direction: column;

                    .card_item{
                        width: 60%;
                        margin: 20px auto;

                        .card_flex{
                            justify-content: space-around;
                            .card_about{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 768px){
                .help_card{
                    .card_item{
                        width: 100%;
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .help_card{

                    .card_item{
                        .card_flex{
                            .card_about{
                                margin-left: 0px;
                            }
                        }
                        .card_img{
                            display: none;
                        }
                    }
                }
            } 
        }
    }

    .masters{
        background: rgb(55, 53, 53);
        .masters__container{
           .masters_add{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            align-items: center;
                .masters_call{
                    display: flex;
                    justify-content: space-between;
                    background: #EDF3F6;
                    align-items: center;
                    padding: 27px 34px;
                    border-radius: 15px;
                    color: #3E3E3E;
                    .call{
                        .call_text{
                            border-left: 5px solid #02C7FC;
                            border-radius: 1px;
                            padding-left: 13px;
                            margin-bottom: 42px;
                           .call_title{
                                font-weight: 600;
                                @include adaptiv-font(18, 14);
                           } 

                           .call_sub_title{
                            margin-top: 5px;
                            font-weight: 400;
                            @include adaptiv-font(13, 12);
                           }
                        }
                        @media screen and (max-width: 280px) {
                            .call_button{
                                padding: 10px 15px;
                                border-radius: 10px;
                            }
                        }
                        @media screen and (max-width: 258px) {
                            .call_button{
                                padding: 7px 10px;
                                border-radius: 7px;
                            }
                        }
                    }
                    .call_r{
                        width: 25%;
 
                    }
                    @media screen and (max-width: 768px){
                        .call_r{
                            display: none;
                        }
                    }
                }
                .masters_at{
                    margin-left: 30px;
                    .at{
                        li{
                            font-weight: 700;
                            @include adaptiv-font(20, 18);
                            background: url(../img/bx-check-circle.svg.svg) no-repeat 0 50%;
                            padding-left: 40px;
                            padding-top: 10px;
                        }
                        li:not(:last-child){
                            margin-bottom: 24px;
                        }
                    }
                }
                @media screen and (max-width: 1230px){
                    .masters_at{
                        margin-left: 20px;
                    }
                }
                @media screen and (max-width: 992px){
                    .masters_at{
                        margin-left: 0px;
                        margin-bottom: 40px;
                        display: flex;
                        justify-content: center;
                    }
               }
           }
           @media screen and (max-width: 992px){
                .masters_add{
                    display: flex;
                    flex-direction: column-reverse;
                }
           }

           .swiper{
            margin-top: 50px;
            color: #3E3E3E;
            margin-bottom: 70px;
            .swiper-pagination{
                .swiper-pagination-bullet{
                    background: #02C7FC;
                }
            }
            .swiper-button-prev{
                color: #02c6fc74;
            }
            @media screen and (max-width: 480px) {
                .swiper-button-prev{

                    --swiper-navigation-size: 25px;
                    left: 3px
                }
                .swiper-button-next{

                    --swiper-navigation-size: 25px;
                    right: 3px
                } 
            }
            .swiper-button-next{
                color: #02c6fc74;;
            }
            .swiper-wrapper{
                .swiper-slide{
                    .slider_card{
                        .slider_header{
                             display: flex;
                             justify-content: space-between;
                             align-items: center;
                             background: #fff;
                             border-radius: 20px 20px 0px 0px;
                             .slider_text{
                                 margin-left: 26px;
                                 .slider_name{
                                     font-weight: 700;
                                     @include adaptiv-font(20, 16);
                                 }
                                 .slider_line{
                                     margin-top: 10px;
                                     width: 5vw;
                                     height: 0.7vh;
                                     background: #02C7FC;
                                     border-radius: 2px;
                                 }
                                 .slider_exp{
                                     margin-top: 10px;
                                     font-weight: 600;
                                     @include adaptiv-font(18, 14);
     
                                 }
                                 .slider_about{
                                     margin-top: 20px;
     
                                 }
                             }
                        }
                        @media screen and (max-width: 480px) {
                            .slider_header{
                                flex-direction: column-reverse;

                                .slider_text{
                                    .slider_line{                                       
                                        width: 13vw;
                                    } 
                                }
                            }
                        }
                        .slider_footer{
                             background: #EDF3F6;
                             display: flex;
                             padding: 25px 37px;
                             border-radius: 0px 0px 20px 20px;
                             .slider_dot{
                                align-self: flex-start;
                                margin-right: 16px;
     
                             }
                             .slider_quote{
                                 font-weight: 400;
                                 @include adaptiv-font(14, 12);
                             }
                        }
                        @media screen and (max-width: 480px) {
                            .slider_footer{
                                padding: 25px 20px;
                            }
                        }
                        @media screen and (max-width: 360px) {
                            .slider_footer{
                                padding: 25px 20px;
                                .slider_dot{
                                    width: 10px;
                                    margin-right: 5px;
                                }
                            }
                        }
                     }
                }
            }
       }
           
        }
    }

    .contacts{
       .contacts__container{
            .contacts_flex{
                background: #EDF3F6;
                padding: 30px 35px;
                border-radius: 10px;
                color: #3E3E3E;
                margin-top: 40px;
                display: flex;
                align-items: center;
                margin-bottom: 70px;
                .contacts_map{
                    margin-right: 120px;
                    width: 100%;
                    height: 450px;
                }
                .contacts_info{
                    .info{
                        .card{
                            display: flex;
                            align-items: center;
                        }
                        .info_tel{
                            .info_img{
                                max-width: 30px;
                                margin-right: 20px;
                            }
                            .number{
                                display: flex;
                                flex-direction: column;
                                .contacts_tel{
                                    @include adaptiv-font(20, 14);
                                    color: #000;
                                    font-weight: 600;
                                }
                                .contacts_tel:not(:last-child){
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        .info_adr{
                            margin-top: 40px;
                            .info_img{
                                width: 30px;
                                margin-right: 20px;

                            }
                            .contacts_adr{
                                @include adaptiv-font(18, 14);
                                    color: #000;
                                    font-weight: 500;
                            }
                        }
                        .info_mail{
                            margin-top: 40px;
                            .info_img{
                                width: 30px;
                                margin-right: 20px;
                            }
                            .contacts_mail{
                                @include adaptiv-font(18, 14);
                                    color: #000;
                                    font-weight: 500;
                            }
                        }
                    }
                    @media screen and (max-width: 350px) {
                        .info{
                            .card{
                                .info_img{
                                    width: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    
                    .contacts_button{
                        margin-top: 70px;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                .contacts_flex{
                    flex-direction: column-reverse;

                    .contacts_map{
                        margin: 25px auto;
                
                    }
                }
            }
            @media screen and (max-width: 500px) {
                .contacts_flex{
                    .contacts_map{
                        height: 200px;
                    }
                }
            }
            @media screen and (max-width: 300px) {
                .contacts_flex{
                    padding: 15px 15px;
                }
            }
       } 
    }

    .footer{
        background: rgb(55, 53, 53);;
        .footer__container{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;
            .footer_nav{
                .nav_list{
                    
                    .nav_item{
                        a{
                            @include adaptiv-font(16, 14);
                            font-weight: 400;
                            transition: all 0.3s ease 0s;
                            color: #fff;
                        }
                        a:hover{
                            color: #02C7FC;
                            
                        }
                    }
                   .nav_item:not(:last-child){
                    margin-bottom: 7px;
                   } 
                }
            }
            .footer_about{
                width: 30%;
                .footer_numer{
                    @include adaptiv-font(20, 18);
                    font-weight: 600;
                    margin-bottom: 10px;
                    display: block;
                    color: #ffffff;
                    span{
                        color:#02C7FC;
                    }
                }
                .footer_adr{   
                    margin-bottom: 10px;
                }   
            }
        }
        @media screen and (max-width: 640px) {
            .footer__container{
                flex-direction: column;
                align-items: start;
                .footer_about{
                    margin-top: 20px;   
                    width: 100%;
                }

            } 
        }
    }

}